@font-face {
  font-family: "iconfont"; /* Project id 5076266 */
  src: url('iconfont.woff2?t=1764309616703') format('woff2'),
       url('iconfont.woff?t=1764309616703') format('woff'),
       url('iconfont.ttf?t=1764309616703') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconQQ:before {
  content: "\e65b";
}

.iconmayun:before {
  content: "\e601";
}

.iconhuaban881:before {
  content: "\e602";
}

.iconiconfeishuLOGO:before {
  content: "\e610";
}

.iconzhifeiji_fabu:before {
  content: "\e661";
}

.iconshouye:before {
  content: "\e61c";
}

.iconrenwuguanli:before {
  content: "\e617";
}

.iconzhuanlan-:before {
  content: "\e9a7";
}

.iconwenzhangguanli:before {
  content: "\e655";
}

.iconbiaoqianfenlei:before {
  content: "\e6cd";
}

.iconshezhi-xitongshezhi:before {
  content: "\e600";
}

